@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham.ttf');
    font-weight: 400
}

@font-face {
    font-family: 'Ghotic';
    src: url('../assets/fonts/Gothic.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ghotic-Medium';
    src: url('../assets/fonts/Gothic-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ghotic-Bold';
    src: url('../assets/fonts/Ghotic-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Myriad';
    src: url('../assets/fonts/Myriad.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Nura-Medium';
    src: url('../assets/fonts/Nura-Medium.otf');
    font-weight: 500;
}

$blackText: #1B2127;
$grayText: #939393;
$greenPrimary: rgba(73, 180, 142, 0.7);
$borderGray: #e3dfe4;
$footerBg: #EEEEF3;
$footerText: #2C3C4B;
$footerTitle: #717191;
$greenCake: #EDF6F3;
$pinkColor: #C65DFF;
$gotham: 'Gotham', sans-serif;
$gothic-b: 'Ghotic-Bold', sans-serif;
$gothic: 'Ghotic', sans-serif;
$gothic-m: 'Ghotic-Medium', sans-serif;
$myriad: 'Myriad', sans-serif;
$nura-m: 'Nura-Medium', sans-serif;